.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
  color: white;
}

.Progress-Div {
  margin-left: 8%;
  margin-right: 8%;
  display:flex;
  align-items: center;
}

.Progress-Bar {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.Progress-Label {
  font-size: small;
  padding-top: 14px;
}